body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: digital-7;
    src: url(digital-7.ttf);
}

@font-face {
    font-family: normal-style;
    src: url(junegull.ttf);
}

.digital-7{
    font-family: digital-7;
}

.normal{
    font-family: 'Secular One', sans-serif; 
}

.hidden{
    visibility: hidden;
    position: fixed;
}

.bg-red{
    background-color: red;
}
.bg-green{
    background-color: rgb(0, 255, 0);
}
.bg-yellow{
    background-color: yellow;
}
.bg-blue{
    background-color: rgb(0, 255, 255);
}
.bg-white{
    background-color: #fff;
}

.red{
    color: red;
}
.green{
    color: rgb(0, 255, 0);
}
.yellow{
    color: yellow;
}
.blue{
    color: rgb(0, 255, 255);
}
.white{
    color: #fff;
}

.red.odd{
    background-color: red;
    color : #000;
}
.green.odd{
    background-color: rgb(0, 255, 0);
    color : #000;
}
.yellow.odd{
    background-color: yellow;
    color : #000;
}
.blue.odd{
    background-color: rgb(0, 255, 255);
    color : #000;
}
.white.odd{
    background-color: #fff;
    color : #000;
}